/* all */

*{
    margin: 0px;
	padding:0px;
    color:whitesmoke;
    text-decoration:none;
}

body{
    background:rgb(22 22 22);
    background-position:cover;
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-size: 100%;

}

h5{
    color:goldenrod;
    margin-top: 70px;
}
/* navigation */

#navigation{
    margin: 20px;
    margin-top: 30px;
    display:flex;
    justify-content: space-between;
    align-items:center;
}
.navigation_item{
    margin:0px 55px;
}
#navigation img{
    width:50px;
    filter: invert(100%);
}

#navigation ul{
    display:flex;
    justify-content:center;
}
#navigation ul li{
    list-style:none;
    margin:0px 20px;
}
#navigation ul li a{
    font-style:bold;
    padding:5px;
    border-radius: 1px;
    /* font-family: 'Ubuntu', sans-serif; */
}

#navigation ul li a:hover{
    animation: underline;
    animation-duration: 1s;
}
@keyframes underline {
    0%{
        opacity:0;
    }
    100%{
        opacity:1;

    }
    
}



#contact{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    padding:50px;
}

#contact h1{
    margin:50px;
}


#ways_to_contact{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    width:50%;
    align-items: center;
    margin: 50px;
}

.contact_way{
    width: 170px;
    height: 40px;
    background-color:rgba(27, 26, 26, 0.76);
    margin: 20px;
    display: flex;
    justify-content: space-around;
    align-items:center;
    
}
.contact_way a{
color: goldenrod;
margin: 10px;
}
.contact_way img{
    width:20px;
    
}
/* media holder */

#media_container {
    width: 100%;
    display: flex;
    position: absolute;
    bottom: 10px;
    justify-content: center;
  }
  
  #media_holder {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 20px;
  }
  #media_holder img {
    width: 20px;
    margin: 0px 15px;
  }
  