* {
  scroll-behavior: smooth !important;
}
/* navigation */

#navigation {
}
.name img {
  display: none !important;
}
#navigation ul {
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

/* Home */

#home {
  flex-direction: column-reverse;
  height: 1000px !important;
}

#home_text {
  margin-left: 18%;
  margin-top: 0px !important;
  padding-bottom: 150px;
}

#home_img img {
  /* margin-top: 80px!important; */
  float: right;
  width: 80% !important;
}

/* about me */

#about_me {
  flex-direction: column;
  height: 900px !important;
  overflow: hidden;
}

#image {
  display: flex;
  align-items: center;
  justify-content: center;
}

#about_me_text {
  width: 50% !important;
  text-align: center;
}

#image img {
  width: 70% !important;
}

.button_holder {
  justify-content: center !important;
}

/* services */

#services {
  height: 1000px !important;
}

/* projects */

#project {
}

/* skills */

#skills {
  flex-direction: column;
  height: 800px !important;
}

.skills_box {
  width: 60% !important;
  padding: 40px !important;
}

/* footer */

#footer_social img {
  width: 20px;
  margin: 0px 5% !important;
}

#up_arrow {
  position: absolute;
  right: 15% !important;
}
