/* all */
* {
  margin: 0px;
  padding: 0px;
  color: white;
  font-family: 'Fredoka', sans-serif;
  scroll-behavior:smooth;
}

:root {
  --primary_color: #202024;
  --secondry_color: #121214;
  --tertiary_color: #4a23ac;
}

/* navigation */

#navigation {
  background-color: var(--primary_color);
  display: flex;
  height: 70px;
  justify-content:space-between;
  align-items: center;
  width: 100%;
  position:fixed;
}


.name img{
  width: 50px;
  filter: invert();
  margin-left: 20px;
}
#navigation ul {
  margin-right: 20px;
  display: flex;
}
#navigation ul li,
a {
  text-decoration: none;
  list-style: none;
  margin: 10px;
}

/* home */

#home {
  background-color: var(--secondry_color);
  height: 600px;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
}

#home_text {
  margin-left: 18%;
  margin-top: 200px;
}

#home_text :nth-child(1) {
  margin: 10px 0;
}
#home_text :nth-child(2) {
  margin: 10px 0;
}

#home_media {
  margin-top: 20px;
  justify-content: center;
}
#home_media a{margin-left: 5px;}

#home_img img {
  margin-top: 70px;
  width: 598px;
}

/* about */

#about_me {
  background-color: var(--primary_color);
  height: 500px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#image img {
  width: 450px;
}

#about_me_text {
  width: 35%;
}
#about_me_text :nth-child(2) {
  margin: 30px 0px;
}

.button_holder {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 30px;
}

.social_button {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--tertiary_color);
  width: 130px;
  height: 40px;
  margin-right: 15px;
  border-radius: 5px;
}
.social_button img {
  width: 15px;
}
/* projects */

#project {
  background-color: var(--secondry_color);
  height: 600px;
  display:flex;
  flex-direction: column;
  align-items: center;
}

#project h2{
  margin-top:100px;
}

#project_cont{
  margin-top:20px;
  display:grid;
  grid-template-columns:repeat(3,auto)

}

.projects{
  background-color:var(--primary_color);
  width: 250px;
  height: 180px;
  margin: 10px;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  padding: 20px;
  flex-direction: column;
  border-radius: 9px;
}

.projects h4{
  margin:10px 0px;
}
.project_button{
  margin-top: 30px;
  justify-content: center;
}
.project_button a{
  margin-left: 10px;
}

/* services */

#services {
  background-color: var(--primary_color);
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#services_container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.services {
  width: 180px;
  height: 200px;
  background-color: #121214;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  padding: 5px;
  border-radius: 5px;
  flex-wrap: wrap;
}
.services img {
  width: 50px;
  margin-bottom: 15px;
}

.services :nth-child(2) {
  margin: 10px 0px;
}
/* skills */

#skills {
  background-color: var(--secondry_color);
  height: 500px;
}

#skills {
  display: flex;
  justify-content: center;
  align-items: center;
}

.skills_box {
  width: 50%;
  padding: 140px;
}
.skills_box :nth-child(2) {
  margin-top: 20px;
  gap: 50px;
}
.skills_box img {
  width: 60px;
  padding: 10px;
  background-color: #1f1c2a;
  margin: 5px;
  border-radius: 10px;
}
.skills_box img:hover {
  border-bottom: 2px solid blue;
}
/* footer */

#foot {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90px;
  background-color: var(--tertiary_color);
}

#footer_social {
  display: flex;
}
#footer_social img {
  width: 20px;
  margin: 0px 12px;
}

#up_arrow {
  position: absolute;
  right: 25%;
}

#up_arrow img {
  width: 20px;
  animation-name: arrow;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

@keyframes arrow {
  0% {
    margin-bottom: 0px;
  }
  100% {
    margin-bottom: 15px;
  }
}
