/* all */

*{
    margin: 0px;
	padding:0px;
    color:whitesmoke;
    text-decoration:none;
}

body{
    background:rgb(22 22 22);
    background-position:cover;
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-size: 100%;

}
/* navigation */

#navigation{
    margin: 20px;
    margin-top: 30px;
    display:flex;
    justify-content: space-between;
    align-items:center;
}
.navigation_item{
    margin:0px 55px;
}
#navigation img{
    width:50px;
    filter: invert(100%);
}

#navigation ul{
    display:flex;
    justify-content:center;
}
#navigation ul li{
    list-style:none;
    margin:0px 20px;
}
#navigation ul li a{
    font-style:bold;
    padding:5px;
    border-radius: 1px;
    /* font-family: 'Ubuntu', sans-serif; */
}

#navigation ul li a:hover{
    animation: underline;
    animation-duration: 1s;
}
@keyframes underline {
    0%{
        opacity:0;
    }
    100%{
        opacity:1;

    }
    
}

#my_projects h5{
    color: goldenrod;
    margin-bottom: 20px;
}
#my_projects{
    display: flex;
    justify-content:center;
    align-items:center;
    padding: 50px;
    flex-direction: column;
}

#project_container{
    display:flex;
    width:50%;
    justify-content: center;
    flex-wrap: wrap;
}

.project{
    width:190px;
    height: 210px;
    margin: 30px;
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    align-items:center;
    flex-direction:column;
    
}
.landscape{
    width:210px;
    height:190px;
}
.project img{
    width: 210px;
}
/* media holder */

#media_container {
    width: 100%;
    display: flex;
    position: absolute;
    bottom: 10px;
    justify-content: center;
  }
  
  #media_holder {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 20px;
  }
  #media_holder img {
    width: 20px;
    margin: 0px 15px;
  }
  